<!-- header section starts      -->

<header>
 
    <a href="#" class="logo"><i class="fas fa-utensils"></i>resto.</a>

    <nav class="navbar">
        <a class="active" href="#home">home</a>
        <a href="#dishes">dishes</a>
        <a href="#about">about</a>
        <a href="#menu">menu</a>
        <a href="#chef">chef</a>
        <a href="#review">review</a>
        <a href="#order">order</a>
    </nav>


    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#" class="fas fa-heart"></a>
        <a href="#cart" class="fas fa-shopping-cart"
            onclick="document.getElementById('cart').style.display='block'"></a>
    </div>
    {{#if user}}
    <div >
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.name}}
        </a>
    
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">User Information</a>
            <a class="dropdown-item" href="#">Manage User</a>
            <a class="dropdown-item" href="/user/manageMenu">Manage Menu</a>
            <a class="dropdown-item" href="#">List Information Feedback</a>
           
        </div>
        <form class="header-logout" action='/user/logout' method='post'>
            <button type='submit' name='logoutr' value=''>Logout</button>
        </form>
    {{/if}}
    
</div>
</header>