<!-- header section starts      -->

<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="#" class="logo"><i class="fas fa-utensils"></i>resto.</a>

    <nav class="navbar">
        <a class="active" href="/#home">home</a>
        <a href="/#about">about</a>
        <a href="/#menu">menu</a>
        <a href="/#review">review</a>
    </nav>


    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#cart" class="fas fa-shopping-cart"
            onclick="document.getElementById('cart').style.display='block'"></a>
        {{!-- {{#if user}}
        <a></a>
        {{else}}
            <a href="/user/login">Login</a>
        {{/if}} --}}
    </div>
    {{#if user}}
    <div >
    <div class="dropdown show" style="display:inline-flex;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.name}}
        </a> 
        {{#if_eq user.role 'Admin'}}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">User Information</a>
            <a class="dropdown-item" href="/manageUser">Manage User</a>
            <a class="dropdown-item" href="/menu">Manage Menu</a>
            <a class="dropdown-item" href="/manageFeedback">List Information Feedback</a>
            <a class="dropdown-item" href="/manageOrder">Manage Order</a>
        </div>
        {{/if_eq}}
        {{#if_eq user.role 'Customer'}}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">User Information</a>
            <a class="dropdown-item" href="/manageOrder">History Order</a>
        </div>
        {{/if_eq}}

        {{#if_eq user.role 'Clerk'}}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">User Information</a>
                <a class="dropdown-item" href="/manageOrder">Manage Order</a>
            </div>
        {{/if_eq}}

        {{#if_eq user.role 'Chef'}}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">User Information</a>
            <a class="dropdown-item" href="/manageOrder">Manage Order</a>
        </div>
        {{/if_eq}}

        <div style="margin: 2rem 0 0 1rem; border-radius: .5rem;">
            <form action='/user/logout' method='post'>
                <button type='submit' name='logoutr' value='' class="sign-out-btn"> SIGN OUT <i class="fa fa-sign-out"></i></button>
            </form>
        </div>
    {{else}}
    <nav class="navbar">
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    </nav>
    {{/if}}
    
</div>
</header>
<style>
    .sign-out-btn {
        font-weight: bold;
        padding: 3px;
        font-size: 12px;
        border-radius: .5rem;
        color:white;
        background-color: rgb(255, 0, 0);
        outline: none;
    }
    .sign-out-btn:hover {
        background-color: rgb(240, 96, 96);
    }
    .dropdown-menu{
        width: 100%;
        font-size: 15px;

    }
    .dropdown-toggle{
        min-width: 16rem !important;
    }
</style>