<!-- header section starts      -->

<header>
 
    <a href="#" class="logo"><i class="fas fa-utensils"></i>resto.</a>

    <nav class="navbar">
        <a class="active" href="/#home">home</a>
        <a href="/#about">about</a>
        <a href="/#menu">menu</a>
        <a href="/#review">review</a>
    </nav>


    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#cart" class="fas fa-shopping-cart"
            onclick="document.getElementById('cart').style.display='block'"></a>
        {{#if user}}
        <a></a>
        {{else}}
            <a href="/user/login" class="fas fa-heart">Log</a>
        {{/if}}
    </div>
    {{#if user}}
    <div >
    <div class="dropdown show" style="display:inline-flex;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.name}}
        </a> 
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">User Information</a>
            <a class="dropdown-item" href="/manageUser">Manage User</a>
            <a class="dropdown-item" href="/menu">Manage Menu</a>
            <a class="dropdown-item" href="#">List Information Feedback</a>
           
        </div>
        <div style="margin: 2rem 0 0 1rem; border-radius: .5rem;">
            <form class="header-logout" action='/user/logout' method='post'>
                <button type='submit' name='logoutr' value='' style="padding: 2px; font-size:12px; border-radius: .5rem; background-color: red;">
                    SIGN OUT
                    {{!-- <i class="fa fa-sign-out" style="font-size: 15px; width: 15px; height:15px; display:block"></i> --}}
                </button>
            </form>
        </div>
    {{/if}}
    
</div>
</header>
<style>
    .dropdown-menu{
        width: 100%;
        font-size: 15px;

    }
    .dropdown-toggle{
        min-width: 16rem !important;
    }
</style>