* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.home {
    z-index: 100;
    position: absolute;
    top: 0.2rem;
    left: 6rem;
    width: 5rem;
    height: 5rem;
    background-color: #27ae60;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
}

.home i {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
}

.container {
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 100vh;
}

.container.active {
    overflow: hidden;
}

.row_main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    position: relative;
}

.row_main {
    gap: 5rem;
    padding: 6rem 5%;
}

.colm1 {
    flex: 1 1 60%;
}

.colm2 {
    flex: 1 1 35%;
}


/* payment_info */

.colm1 .payment_info {
    width: 100%;
    border-radius: 2rem;
    overflow: auto;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    padding: 2rem;
    min-height: 100vh;
}

.colm1 .payment_info .text_content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.colm1 .payment_info .text_content h2 {
    font-size: 2rem;
}

.colm1 .payment_info .text_content p {
    font-size: 1.5rem;
    color: #6b6d7c;
}

.colm1 .payment_info form .form_paypal .form_paypal_title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.colm1 .payment_info form .form_paypal {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.colm1 .payment_info form .form_paypal .form_paypal_content {
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transition: 0.5s;
    position: absolute;
    top: 0rem;
    /* display: none; */
}

.colm1 .payment_info form .form_paypal .form_paypal_content.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
    /* display: block; */
}

.colm1 .payment_info form .form_paypal .form_paypal_content p {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.colm1 .payment_info form .form_paypal .form_paypal_content p span {
    color: orangered;
}

.colm1 .payment_info form .form_paypal .form_paypal_content select {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    outline: none;
}

.colm1 .payment_info form .form_paypal input {
    width: 2rem;
    height: 2rem;
}

.colm1 .payment_info form .form_paypal a {
    padding: .5rem 5rem;
    display: inline-block;
    background-color: rgba(255, 166, 0, 0.568);
    border-radius: 5rem;
    margin: 2rem 0;
}

.colm1 .payment_info form .form_paypal img {
    width: 10rem;
    height: 4rem;
}

.colm1 .payment_info .form_credit-card {
    border-top: 1px solid #ccc;
    padding-top: 2rem;
}

.colm1 .payment_info .form_credit-card.active {
    transform-origin: bottom;
    animation: animate 1s ease-in-out;
}

@keyframes animate {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.colm1 .payment_info .form_credit-card .form_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colm1 .payment_info .form_credit-card .form_title .credit_card {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.colm1 .payment_info .form_credit-card .form_title .credit_card input {
    width: 2rem;
    height: 2rem;
}

.colm1 .payment_info .form_credit-card .form_title .credit_card label {
    font-size: 1.5rem;
}

.colm1 .payment_info .form_credit-card .logo {
    display: flex;
    gap: .5rem;
}

.colm1 .payment_info .form_credit-card .logo img {
    width: 2rem;
    height: 2rem;
}

.colm1 .payment_info .fa-question-circle {
    position: relative;
    display: inline-block;
}

.colm1 .payment_info .fa-question-circle img {
    width: 20rem;
    height: 30rem;
    position: absolute;
    top: -1000%;
    display: none;
    left: 2rem;
}

.colm1 .payment_info .fa-question-circle:hover img {
    display: block;
}

.colm1 .payment_info .form-group--pair .form-group p {
    display: flex;
    align-items: flex-start;
}

.colm1 .payment_info .form_credit-card .form_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.colm1 .payment_info form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
}

.colm1 .payment_info .form_content .form-group label {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: inline-block;
}

.colm1 .payment_info .form_content .form-group span {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: inline-block;
    color: orangered;
}

.colm1 .payment_info .form_content .form-group--pair {
    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;
    align-items: center;
}

.colm1 .payment_info .form_content .form-group--pair .form-group {
    flex: 1 1 50%;
}

.colm1 .payment_info .form_content .form-group input {
    padding: 1rem;
    width: 100%;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .7);
    outline: none;
}

.colm1 .payment_info .form_content p {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}

.colm1 .payment_info .form_content p input {
    width: 2rem;
    height: 2rem;
}

.order {
    flex: 1 1 30%;
    padding: 2rem;
    border-radius: 2rem;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    position: relative;
}

.order::-webkit-scrollbar {
    display: none;
}

.order h2 {
    font-size: 2.2rem;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
}

.order .products {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid #000;
}

.order .product {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.order .image {
    width: 100px;
    height: 100px;
}

.order .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order .product_detail span {
    display: block;
    font-size: 1.5rem;
}

.order .ship {
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.order .delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order .delivery span {
    font-size: 1.5em;
}

.order .discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order .discount span {
    font-size: 1.5em;
}

.order .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order .total strong {
    font-size: 2em;
}

.btn_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btn_confirm button {
    background-color: orange;
    padding: 1.5rem 3rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-size: 2rem;
    cursor: pointer;
}

.popup h2,
.feedback h2 {
    font-size: 2rem;
}

.popup p,
.feedback p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}

section button {
    position: relative;
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 35rem;
    box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.1), 0 0 0 1000px rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    visibility: hidden;
    flex-direction: column;
    background: url("https://image.freepik.com/free-vector/realistic-emoji-party-background_79603-1587.jpg") center center /cover no-repeat;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.popup.active {
    visibility: visible;
}

.close,
.close_fb {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    background: #f00;
    color: #fff;
    cursor: pointer;
    /* z-index: 10000000000000; */
}

.feedback {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50rem;
    height: 35rem;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1), 0 0 0 1000px rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    visibility: hidden;
    flex-direction: column;
    background: url("https://image.freepik.com/free-vector/realistic-emoji-party-background_79603-1587.jpg") center center /cover no-repeat;
}

.fa-times-circle {
    display: inline-block;
    font-size: 2rem;
}

.feedback.active {
    visibility: visible;
}

.feedback .send {
    position: absolute;
    bottom: .5rem;
    right: 6rem;
    padding: 1rem 2rem;
    background: #f00;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

.feedback textarea {
    width: 90%;
    outline: none;
    padding: 1rem;
    height: 15rem;
    margin-top: 1rem;
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    visibility: hidden;
    pointer-events: none;
}

#my-canvas.active {
    visibility: visible;
}