* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/* .main_wrapper {
    margin: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_item {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: 8rem 0;
}

.item {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.item_header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.item_header a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: red;
}

.item_header img {
    width: 4em;
    height: 3rem;
}

.item_content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2rem 0;
}

.image_item img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.info_item {
    font-size: 1.5rem;
    ;
}

.info_item .qty {
    padding-top: 1rem;
}

.price_item {
    margin-left: auto;
    font-size: 1.5rem;
    color: red;
}

.item_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.total_item {
    padding-bottom: 2rem;
}

.total_item span:last-child {
    font-size: 2rem;
    color: red;
}

.item_footer a {
    text-decoration: none;
    background-color: #27ae60;
    display: inline-block;
    padding: 1rem 5rem;
    color: #fff;
    border-radius: 5rem;
}